/.vs
/bin
/obj
/Properties/PublishProfiles
/Properties/ServiceDependencies
/GameHubApi/bin
/GameHubApi/obj
/GameHubApiTests/bin
/GameHubApiTests/obj
/GameHubApi/Properties/PublishProfiles
/myapp
/GameHubApiTests/TestResults
GameHubApi/GameHubApi.csproj.user
/GameHubApi.Contracts/obj
/GameHubApi.Contracts/bin
/GameHubApi.Providers/bin
/GameHubApi.Providers/obj
/GameHubApi.Tests/bin
/GameHubApi.Tests/obj
/GameHubApi.Tests/TestResults
/GameHubApi.Services/bin
/GameHubApi.Services/obj
